
header#header
  nav.navbar.navbar-default
    .container-fluid
      .header_main
       h1 My Shop
        p Welcome to Shinhee's 2nd Javascript Framework project.

      .navbar-header
        a.navbar-brand(href='/') Shinhee's Projects
      ul.nav.navbar-nav
        li
          a(href='/') Home
        if user
          li
            a(href='/products/add') Add Product
      ul.nav.navbar-nav.navbar-nav-right
        if user
          li 
            a(href='/users/logout') Logout
        else
          li
            a(href='/users/register') Register
          li
            a(href='/users/login') Login