
header#header
  nav.navbar.navbar-default
    .container-fluid
      .header_main
       h1 My Shop
        p Welcome to Shinhee's 2nd Javascript Framework project.

      .navbar-header
        a.navbar-brand(href='/') Shinhee's Projects
      ul.nav.navbar-nav
        li
          a(href='/') Home
        li
          a(href='/aboutme') About Me
        li
          a(href='/service') Service
        li
          a(href='/projects') Projects
        li
          a(href='/contact') Contact Me