extends layout


block content
  include partials/header  
  h1 #{title}
  form(method='POST', action ='/products/add')
    #form-group
      label Title:
      input.form-control(name='title', type='text')
    #form-group
      label Description:
      textarea.form-control(name='body', )
    input.btn.btn-primary(type='submit', value='Submit')


